<form asp-action="Import" asp-controller="File" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <div class="row">
        <div class="col-md-8" style="padding-top:10px;">
            <button>Загрузить</button>
        </div>
    </div>
    
</form>
