html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.pagination{
    display:inline-block;
    margin-bottom:25px;
    margin-top:0;
    padding-left:15px;
}